.box {
    background-image: url(https://hips.hearstapps.com/hmg-prod/images/tine-andrea-and-darja-barannik-are-seen-outside-the-phillip-news-photo-1579028860.jpg);
    width: 100%;
    height: auto;
}